
/* Your CSS Code here. */

#f1{
	width:300px;
	border:15px solid blue;
	padding:50px;
	background-color:lightblue;
	margin:20px;
}

#f2{
	padding:30px;
	border:1px solid black;
}
p{
	border:1px dashed black;
}